/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  
    footer {
      text-align: center;
    }
  
    .top-wrapper h1 {
      font-size: 32px;
    }
  
    .heading h2 {
      font-size: 20px;
    }
    
    
  }
  
  /* スマホ向けレイアウト */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
  
    /* header-rightクラスのdisplayをnoneに指定してください */
    .header-right{
      display: none;
    }
    
    /* menu-iconクラスのdisplayをblockに指定してください  */
  
    .menu-icon{
      display: block;
    }
    .top-wrapper h1 {
      font-size: 24px;
    }
  
    .top-wrapper p {
      font-size: 14px;
    }
    .lesson-icon {
      position: relative;
      width:100%;
    }
    
    .bottles{
      width: 75%;
      height:100%;
    }
    .lesson-icon .bottles{
      position: absolute;
      left:13%;
      bottom: 25%;
    }
    
    .lesson-icon p{
      text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7),   /* 右下に黒い影 */
        -2px -2px 4px rgba(0, 0, 0, 0.7), /* 左上に黒い影 */
        2px -2px 4px rgba(0, 0, 0, 0.7),  /* 右上に黒い影 */
        -2px 2px 4px rgba(0, 0, 0, 0.7);  /* 左下に黒い影 */
      position: absolute;
      right:10%;
      top: 35%;
      width: 100%;
      color: white;
      left:0%;
    
    }
    .menu-button {
      display: block;
      font-size: 24px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 10px;
      color:white;
      padding-top:3px;
  }

  /* メニューの基本スタイル（非表示状態） */
  .menu {
      display: none;
      background: #444;
      position: absolute;
      top: 50px;
      right: 20px;
      width: 200px;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* メニューが開いた時 */
  .menu.active {
      display: block;
  }

  /* メニューのリスト */
  .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .menu ul li {
      border-bottom: 1px solid #555;
  }

  .menu ul li:last-child {
      border-bottom: none;
  }

  .menu ul li a {
      display: block;
      padding: 12px;
      text-decoration: none;
      color: white;
  }

  .menu ul li a:hover {
      background: #555;
  }
    
}
